<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" *ngIf="po!=null">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Purchase Order Detail
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/trns/worklist/my" class="m-nav__link">
						<span class="m-nav__link-text">
							My Work List
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/trns/po/list" class="m-nav__link">
						<span class="m-nav__link-text">
							Purchase Order Detail
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content" *ngIf="po!=null">
	<!--Begin::Main Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__body m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-md-12 col-lg-6 col-xl-3">
					<!--begin:: Widgets/Stats2-1 -->
					<div class="m-widget1">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Status
									</h3>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number" [ngSwitch]="po.c_doc_status">
										<span *ngSwitchCase="1" class="m-badge m-badge--warning m-badge--wide">Wait Review</span>
										<span *ngSwitchCase="2" class="m-badge m-badge--info m-badge--wide">Wait Approve</span>
										<span *ngSwitchCase="3" class="m-badge m-badge--brand m-badge--wide">Approved</span>
										<span *ngSwitchCase="4" class="m-badge m-badge--danger m-badge--wide">Rejected</span>
										<span *ngSwitchDefault class="m-badge m-badge--warning m-badge--wide">N/A</span>
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<span class="m-widget1__title">
										PO No.
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-info">
										{{po.po_no}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<span class="m-widget1__title">
										PO Date
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-info">
										{{ po.po_date | date :'dd/MM/yyyy' }}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Currency
									</h3><br>
									<span class="m-widget1__title">
										{{po.currency}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Exchange Rate
									</h3><br>
									<span class="m-widget1__title">
										{{po.exchrate}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Purchasing Group
									</h3><br>
									<span class="m-widget1__title">
										{{po.purchasing_groupname}}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-3">
					<!--begin:: Widgets/Stats2-2 -->
					<div class="m-widget1">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Doc Type
									</h3><br>
									<span class="m-widget1__title">
										{{po.doc_type}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										PO Category
									</h3><br>
									<span class="m-widget1__title" *ngIf="po.account_category=='A'">
										Account
									</span>
									<span class="m-widget1__title" *ngIf="po.account_category!='A'">
										Non-Account
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Purchasing ORG
									</h3><br>
									<span class="m-widget1__title">
										{{po.purchasing_org}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Plant
									</h3><br>
									<span class="m-widget1__title">
										{{po.plant_code}} - {{po.plant_name}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Tracking
									</h3><br>
									<span class="m-widget1__title">
										{{po.tracking_no}}
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--begin:: Widgets/Stats2-2 -->
				</div>

				<!-- KT Test layout 05/03/2018 -->
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="m-widget1">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Vendor
									</h3><br>
									<span class="m-widget1__title">
										{{po.vendor_code}} - {{po.vendor_name}}
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__desc">
										Payment Term
									</h3><br>
									<span class="m-widget1__title" *ngIf="po.terms_payment_name!=null">
										{{po.terms_payment_name}}
									</span>
									<span class="m-widget1__title" *ngIf="po.terms_payment_name==null">
										-
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Main Portlet-->


	<div class="row">
		<div class="col-xl-12">
			<!--begin:: Widgets Items-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Items
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::m-widget5-->
					<div class="m-widget5">
						<!-- <div id="tabItems"></div> -->
						<table class='table table-bordered m-table m-table--border-info m-table--head-bg-info'>
							<thead>
								<tr>
									<th>No</th>
									<th>Budget</th>
									<th>Description</th>
									<th>Qty</th>
									<th>Unit</th>
									<th>Unit Price</th>
									<th>Disc.</th>
									<th>VAT</th>
									<th>Amount</th>
									<th>Delivery Date</th>
									<th>PR</th>
									<th>Item</th>
								</tr>
							</thead>
							<tr *ngFor="let row of po.po_items; let index = index">
								<ng-container *ngIf="row.item_status == 'DEL' ">
									<td class="m--font-deleted">{{index+1}}</td>
									<td class="m--font-deleted">{{row.account_no}} - {{row.account_name}}</td>
									<td class="m--font-deleted">{{row.mat_desc}}</td>
									<td align="right" class="m--font-deleted">{{row.qty}}</td>
									<td class="m--font-deleted">{{row.unit}}</td>
									<td align="right" class="m--font-deleted">{{row.price | number:'1.2'}}</td>
									<td align="right" class="m--font-deleted">{{row.discount | number:'1.2'}}</td>
									<td align="right" class="m--font-deleted">{{row.vat | number:'1.2'}}</td>
									<td align="right" class="m--font-deleted">{{row.total_amount | number:'1.2'}}</td>
									<td class="m--font-deleted">{{row.delivery_date | date :'dd/MM/yyyy'}}</td>
									<td class="m--font-deleted">{{row.pr_no}}</td>
									<td class="m--font-deleted">{{row.pr_item_no}}</td>
								</ng-container>
								<ng-container *ngIf="row.item_status != 'DEL' ">
									<td >{{index+1}}</td>
									<td >{{row.account_no}} - {{row.account_name}}</td>
									<td >{{row.mat_desc}}</td>
									<td align="right">{{row.qty}}</td>
									<td >{{row.unit}}</td>
									<td align="right">{{row.price | number:'1.2'}}</td>
									<td align="right">{{row.discount | number:'1.2'}}</td>
									<td align="right">{{row.vat | number:'1.2'}}</td>
									<td align="right">{{row.total_amount | number:'1.2'}}</td>
									<td >{{row.delivery_date | date :'dd/MM/yyyy'}}</td>
									<td >{{row.pr_no}}</td>
									<td >{{row.pr_item_no}}</td>
								</ng-container>
							</tr>
							<tr>
								<td style='text-align:right ' colspan='7'> Total</td>
								<td style='text-align:right ' >{{po.grand_total | number:'1.2'}}</td>
								<td style='text-align:right ' >{{po.grand_total | number:'1.2'}}</td>
								<td style='text-align:right ' colspan='3'></td>
							</tr>
						</table>
					</div>
					<!--end::m-widget5-->
				</div>
			</div>
		</div>
	</div>

	<!--begin::Form-->
	<form class="m-form m-form--fit " >

	<div class="row">
		<div class="col-xl-6">
			
			
				<!--begin:: Widgets/Download Files-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									Attach File
								</h3>
							</div>
						</div>
					</div>
					<!--begin:: Portlet Body-->
					<div class="m-portlet__body">
						<!--begin::m-Widget Attachfile-->
						<div class="m-widget4">
							<!--begin::Widget Attachfile Item-->
							<div class="m-widget4__item" *ngFor="let row of po.po_attachment_items; let index = index">
								<div class="m-widget4__img m-widget4__img--icon">
									<img src="./assets/app/media/img/files/pdf.svg" alt="">
								</div>
								<div class="m-widget4__info">
									<span class="m-widget4__title">
										{{row.file_name}}
									</span>
									<br>
									<span class="m-widget4__sub">
										<i class="la la-user"></i>
										{{row.create_username}}
									</span>
									<span class="m-widget4__sub">
										<i class="la la-clock-o"></i>
										{{row.create_datetime | date :'dd/MM/yyyy'}}
									</span>
								</div>
								<div class="m-widget4__ext">
									<a href="#" (click)="openFile(row.attach_id)" class="m-btn m-btn--pill m-btn--hover-info btn btn-sm btn-secondary" title="Download">
										<i class="la la-download"></i>
									</a>
								</div>
								<div class="m-widget4__ext" *ngIf="po.worklist.current_responsible != null && po.worklist.current_responsible.resp_allow_action=='review'">
									<a href="#" (click)="removeFile(row.attach_id, index)" class="m-btn m-btn--pill m-btn--hover-danger btn btn-sm btn-secondary" title="Remove">
										<i class="la la-trash"></i>
									</a>
								</div>
							</div>
							<!--end::Widget Attachfile Item-->
						</div>
						<!--end::Widget Attachfile-->
						<div class="form-group m-form__group" *ngIf="po.worklist.current_responsible != null && po.worklist.current_responsible.resp_allow_action=='review'">
							<label for="exampleInputEmail1">
								Attach File
							</label>
							<div></div>
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="customFile" multiple>
								<label class="custom-file-label" for="customFile">
									Choose file
								</label>
							</div>
						</div>
						<div class="m-form__actions m-form__actions" *ngIf="po.worklist.current_responsible != null && po.worklist.current_responsible.resp_allow_action=='review'">
							<div class="row">
								<div class="col-lg-12 ml-lg-auto ">
									<button type="button" class="btn btn-info" (click)="addFile()">
										Submit File 
									</button>
								</div>
							</div>
						</div>
					</div>
					<!--end:: Portlet Body-->
					<!--begin::Portlet Body-->
					<!-- <div class="m-portlet__body">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-12 ml-lg-auto ">
									<button type="button" class="btn btn-success" >
										Submit File 
									</button>
								</div>
							</div>
						</div>
					</div> -->
					<!--end::Portlet Body-->
				</div>
				<!--end:: Widgets/Download Files-->
			
		</div>
		<div class="col-xl-6">
			<!--begin:: Widgets Status-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Approval Status
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Widget Status-->
					<div class="m-widget4">

						<ng-template ngFor let-item [ngForOf]="po.worklist.stage_list" let-i="index" [ngForTrackBy]="trackByFn">
								
						<!--begin::Widget 14 Item-->
						<div class="m-widget4__item" *ngFor="let row of item.stage_logs_list" [ngSwitch]="row.activity">
							<div class="m-widget4__info">
								<span class="m-widget4__title">
									<i class="la la-user"></i>
									{{row.actor_username}}
								</span>
								<br>
								<span class="m-widget4__sub">
									<i class="la la-clock-o"></i>
									{{row.start_datetime | date :'dd/MM/yyyy HH:mm'}} - {{row.finish_datetime | date :'dd/MM/yyyy HH:mm'}}
								</span>
								<span class="m-widget4__sub">
									<i class="flaticon-stopwatch"></i>
									10:12:32
								</span>
								<br>
								<span class="m-widget4__sub">
									{{row.activity_description}}
								</span>
							</div>
							<div class="m-widget4__ext" style="vertical-align: top">
								<span *ngSwitchCase="'Review'" class="m-badge m-badge--info m-badge--wide">{{row.activity}}</span>
								<span *ngSwitchCase="'Approve'" class="m-badge m-badge--success m-badge--wide">{{row.activity}}</span>
								<span *ngSwitchCase="'Reject'" class="m-badge m-badge--danger m-badge--wide">{{row.activity}}</span>
								<span *ngSwitchDefault class="m-badge m-badge--warning m-badge--wide">{{row.activity}}</span>
							</div>
						</div>
						<!--end::Widget 14 Item-->

						</ng-template>

					</div>
					<!--end::Widget 14-->
				</div>
			</div>
			<!--end:: Widgets Status-->
		</div>
	</div>
	<!--End::Main Portlet-->

	</form>

	<!--begin::Portlet-->
	<div class="m-portlet" *ngIf="po.worklist.current_responsible != null">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text" >
						<span id="txtActionName" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action=='review'">Review</span>
						<span id="txtActionName" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action==null">Approve</span>
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form  #heroForm="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_1">
			<!--begin::portlet__body-->
			<div class="m-portlet__body m-portlet__body--no-top-padding" >
				<div class="m-form__content">
					<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							Oh snap! Change a few things up and try submitting again.
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Close"></button>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group">
					<label for="exampleTextarea">
						Comment:
					</label>
					<textarea class="form-control m-input" id="txtComment" rows="3" placeholder="Enter comment"></textarea>
				</div>
			</div>
			<!--end::portlet__body-->
			<!--begin::portlet__foot-->
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-12 ml-lg-auto ">
							<button type="button" [disabled]="heroForm.invalid" class="btn btn-info" data-toggle="modal" data-target="#m_modal_6" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action=='review'">
								Review 
							</button>
							<button type="button" [disabled]="heroForm.invalid" class="btn btn-success" data-toggle="modal" data-target="#m_modal_6" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action==null">
								Approve 
							</button>
							<button type="button" [disabled]="heroForm.invalid" class="btn btn-danger" data-toggle="modal" data-target="#m_modal_6" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action==null">
								Reject 
							</button>
							<button type="reset" (click)="navigate_list()" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--end::portlet__foot-->
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet--> 


	<!--begin::Modal-->
	<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Confirm Save ?
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Confirm Save ?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" (click)="review()" data-dismiss="modal" class="btn btn-success" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action=='review'">
						Save 
					</button>
					<button type="button" (click)="approve()" data-dismiss="modal" class="btn btn-success" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action==null">
						Save 
					</button>
					<button type="button" (click)="reject()" data-dismiss="modal" class="btn btn-success" *ngIf="po.worklist!=null && po.worklist.current_responsible!=null && po.worklist.current_responsible.resp_allow_action==null">
						Save 
					</button>
					<!-- <button type="button" (click)="save()" data-dismiss="modal" class="btn btn-success">
						Save 
					</button> -->
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Modal-->
</div>
