<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-1.jpg);">
	<div class="m-grid__item m-grid__item--fluid m-login__wrapper">
		<div class="m-login__container">
			<div class="m-login__logo">
				<a href="#">
					<img   style="width:200px"  src="./assets/app/media/img//logos/logo_tccl.png">
				</a>
			</div>
			<div class="m-login__signin">
				<div class="m-login__head">
					<h3 class="m-login__title">
						 
					</h3>  
				</div>
				<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertSignin></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input"   type="text" placeholder="User" name="ad_user" [(ngModel)]="model.ad_user" #ad_user="ngModel" autocomplete="off">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<div class="row m-login__form-sub">
						<div class="col m--align-left m-login__form-left">
							<label class="m-checkbox  m-checkbox--light">
								<input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
								Remember me
								<span></span>
							</label>
						</div>
					 
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary">
							Sign In
						</button>
					</div>
				</form>
			</div>
		 
		 
		</div>
	</div>
</div>
