<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" >
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				My Worklist
			</h3>
		</div>
	 
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" id="m_form_1">
	<div class="row">
		<div class="col-xl-12">
			<!--begin:: Widgets/Best Sellers-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-ills--btn-sm" role="tablist">
							
							<li class="nav-item m-tabs__item" [ngSwitch]="showSearch">
								<a *ngSwitchCase="true" class="nav-link m-tabs__link search" (click)="toggleSearch()" data-toggle="toggle" href="#" >
									<i class="la la-search"></i>Search
								</a>
								<a *ngSwitchCase="false" class="nav-link m-tabs__link" (click)="toggleSearch()" data-toggle="toggle" href="#" >
									<i class="la la-search"></i>Search
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" (click)="filter('all')" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
									ALL
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" (click)="filter('pr')" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
									PR
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" (click)="filter('po')" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
									PO
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" (click)="filter('pa')" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
									Payment
								</a>
							</li>
							<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover">
								<a href="#" class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle">
									<i class="la la-ellipsis-v"></i>
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav">
													<li class="m-nav__section m-nav__section--first">
														<span class="m-nav__section-text">
															Sort By
														</span>
													</li>
													<li class="m-nav__item">
														<a href="#" (click)="sort('doc_no')" class="m-nav__link">
															<i [class]="getSortingDisplayClass('doc_no')"></i>
															<span class="m-nav__link-text">
																Document Number
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="#" (click)="sort('doc_date')" class="m-nav__link">
															<i [class]="getSortingDisplayClass('doc_date')"></i>
															<span class="m-nav__link-text">
																Document Date
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="#" (click)="sort('plant_name')" class="m-nav__link">
															<i [class]="getSortingDisplayClass('plant_name')"></i>
															<span class="m-nav__link-text">
																Plant
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="#" (click)="sort('grand_total')" class="m-nav__link">
															<i [class]="getSortingDisplayClass('grand_total')"></i>
															<span class="m-nav__link-text">
																Amount
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body--search "  *ngIf="showSearch">
					<!--begin: Search Form -->
					<div class="form-group m-form__group row">
						<label class="col-lg-2 col-sm-4 col-form-label">
							Doc No. / Subject:
						</label>
						<div class="col-lg-4 col-sm-8" >
							<input type="text" maxlength="20" class="form-control m-input" [(ngModel)]="m_text_search" (ngModelChange)="setFilteredItems()" name="m_text_search" id="m_text_search">
						</div>
						<label class="col-lg-2 col-sm-4 col-form-label">
							Doc Type:
						</label>
						<div class="col-lg-4 col-sm-8 ">
							<select class="form-control m-input" [(ngModel)]="m_list_doctype" (change)="setFilteredItems()" name="m_list_doctype" id="m_list_doctype">
								<option value="">
									All
								</option>
								<ng-container *ngFor="let row of doctypeList; let index = index">
									<option value="{{row.doc_type_code}}">
										{{row.doc_type_desc}}
									</option>
								</ng-container>
							</select>
						</div>
					</div>
					<div class="form-group m-form__group row">
						<label class="col-lg-2 col-sm-4 col-form-label">
							Company:
						</label>
						<div class="col-lg-4 col-sm-8">
							<input type="text" [(ngModel)]="m_list_company" (ngModelChange)="setFilteredItems()" maxlength="50" class="form-control m-input" id="m_list_company">
							<!-- <select class="form-control m-input" [(ngModel)]="m_list_company" (change)="setFilteredItems()" name="m_list_company" id="m_list_company">
								<option value="">
									All
								</option>
								<ng-container *ngFor="let row of companyList; let index = index">
									<option value="{{row.comp_code}}">
										{{row.comp_name}}
									</option>
								</ng-container>
							</select> -->
						</div>
						<label class="col-lg-2 col-sm-4 col-form-label">
							Plant:
						</label>
						<div class="col-lg-4 col-sm-8">
							<input type="text" [(ngModel)]="m_list_plant" (ngModelChange)="setFilteredItems()" maxlength="50" class="form-control m-input" id="m_list_plant">
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Content-->
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
							<!--begin::m-widget5-->
							<div class="m-widget5">
								<ng-container *ngFor="let row of myworklists | sort: {property: sortBy, order: sortType} " [ngSwitch]="row.name">
									<div class="m-widget5__item" (click)="navigate(row.name,row.doc_no)" onmouseover="this.style.cursor='pointer'; ">
										<div class="m-widget5__pic" >
											<div  class=" imageWrapper">
												<img *ngSwitchCase="'PR'" class=" imageWrapper backgroundimage" src="./assets/app/media/img/logos/pr.png" alt="" [title]="docStatus[row.c_doc_status].name">
												<img *ngSwitchCase="'PO'" class=" imageWrapper backgroundimage" src="./assets/app/media/img/logos/po.png" alt="" [title]="docStatus[row.c_doc_status].name">
												<img *ngSwitchCase="'PA'" class=" imageWrapper backgroundimage" src="./assets/app/media/img/logos/pa.png" alt="" [title]="docStatus[row.c_doc_status].name">
												<img *ngSwitchDefault class="imageWrapper backgroundimage" src="./assets/app/media/img/logos/pr.png" alt="">
												<i *ngIf="row.resp_allow_action=='comment'" class=" imageWrapper iconontop text-warning fa fa-comment"></i>
											</div>
										</div>
										<div class="m-widget5__content">
											<span class="m-widget5__title">
												<a routerLink="/trns/{{row.name.toLowerCase()}}/detail/{{row.doc_no}}" >{{row.name}} {{row.doc_no}}</a>&nbsp;&nbsp;
												<span class="m-widget5__info-date m--font-info">
													{{row.doc_date | date :'dd/MM/yyyy'}}
												</span>
											</span>
											<div class="m-widget5__info">
												<span>{{row.plant_code}}-{{row.plant_name}}</span>
												<span class="m-widget5__author" *ngIf="row.name=='PO'">
													<i class="la la-ellipsis-v"></i> 
													{{row.vendor_code}}-{{row.vendor_name}}
												</span>
											</div>
											<ng-container *ngIf="row.name=='PR'">
											<span class="m-widget5__desc">
												Requisitioner: {{row.requisitionerDesc}}
											</span>
											</ng-container>
											<ng-container *ngIf="row.name=='PO'">
												<span class="m-widget5__desc">
													Purchasing group: {{row.purchasingDesc}}
												</span>
											</ng-container>
											<br>
											<span class="m-widget5__desc">
												Subject: {{row.subject}}
											</span>	
										</div>
										<div class="m-widget5__stats1">
											<span class="m-widget5__sales">
												{{row.grand_total | number:'1.2'}}&nbsp;{{row.currency}}
											</span>
										</div>
									</div>
								</ng-container>
								<div class="m-widget5__item" *ngIf="myworklists==null || myworklists.length <= 0" style="text-align: center">
									<span>--- No data to display ---</span>
								</div>
							</div>
							<!--end::m-widget5-->
						</div>			
					</div>
					<!--end::Content-->
				</div>
			</div>
			<!--end:: Widgets/Best Sellers-->
		</div>
	</div>
</div>
