<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Purchase Request
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/trns/worklist/my" class="m-nav__link">
						<span class="m-nav__link-text">
							My Work List
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/trns/pr/list" class="m-nav__link">
						<span class="m-nav__link-text">
							Purchase Request
						</span>
					</a>
				</li>
			</ul>
		</div>
	 
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" id="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Purchase Request
					</h3>
				</div>
			</div>
		</div>
		<form>
			<div class="m-portlet__body">
				<!--begin: Search Form -->
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-sm-4 col-form-label">
						PR No.:
					</label>
					<div class="col-lg-4 col-sm-8" >
						<input type="text" maxlength="20" class="form-control m-input" id="m_form_pr_no">
					</div>
					<label class="col-lg-2 col-sm-4 col-form-label">
						Doc Type:
					</label>
					<div class="col-lg-4 col-sm-8 ">
						<select class="form-control m-input" id="m_form_doc_type">
							<option value="">
								All
							</option>
							<ng-container *ngFor="let row of doctypeList; let index = index">
								<option value="{{row.doc_type_code}}">
									{{row.doc_type_desc}}
								</option>
							</ng-container>
						</select>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-sm-4 col-form-label">
						PR Date From:
					</label>
					<div class="col-lg-4 col-sm-8">
						<div class='input-group'>
							<input type='text' class="form-control m-input" name="m_form_date_from" id='m_form_date_from'/>
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar-check-o"></i>
								</span>
							</div>
						</div>
					</div>
					<label class="col-lg-2 col-sm-4 col-form-label">
						PR Date To:
					</label>
					<div class="col-lg-4 col-sm-8">
						<div class='input-group'>
							<input type='text' class="form-control m-input" name="m_form_date_to" id='m_form_date_to'/>
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar-check-o"></i>
								</span>
							</div>
						</div>					
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-sm-4 col-form-label">
						Company:
					</label>
					<div class="col-lg-4 col-sm-8">
						<select class="form-control m-input" id="m_form_company">
							<option value="">
								All
							</option>
							<ng-container *ngFor="let row of companyList; let index = index">
								<option value="{{row.comp_code}}">
									{{row.comp_name}}
								</option>
							</ng-container>
						</select>
					</div>
					<label class="col-lg-2 col-sm-4 col-form-label">
						Subject:
					</label>
					<div class="col-lg-4 col-sm-8">
						<input type="text" maxlength="20" class="form-control m-input" id="m_form_subject">
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-sm-4 col-form-label">
						Plant:
					</label>
					<div class="col-lg-4 col-sm-8">
						<select class="form-control m-input" id="m_form_plant">
							<option value="">
								All
							</option>
							<ng-container *ngFor="let row of plantList; let index = index">
								<option value="{{row.plant_code}}">
									{{row.plant_name}}
								</option>
							</ng-container>
						</select>
					</div>
					<label class="col-lg-2 col-sm-4 col-form-label">
						Status:
					</label>
					<div class="col-lg-4 col-sm-8">
						<select class="form-control m-input" id="m_form_status">
							<option value="">
								All
							</option>
							<ng-container *ngFor="let row of cDocStatus; let index = index">
								<option value="{{row[0]}}">
									{{row[1]}}
								</option>
							</ng-container>
						</select>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<div class="col-lg-12 col-sm-12 " >
						<button type="button" class="btn btn-brand" (click)="search()">
							<i class="fa fa-search"></i>
							Search
						</button>
						<button type="reset" class="btn btn-metal">
							<i class="fa fa-refresh"></i>
							Clear
						</button>
					</div>
				</div>
				<!--end: Search Form -->

				<!--begin: Datatable -->
				<div class="m_datatable" id="ajax_data"></div>
				<!--end: Datatable -->
			</div>
		</form>
	</div>
</div>
