<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Purchase Request
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Transaction
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/trns/pr/list" class="m-nav__link">
						<span class="m-nav__link-text">
							Purchase Request
						</span>
					</a>
				</li>
			</ul>
		</div>
	 
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" id="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Purchase Request
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-sm-4 col-form-label">
					PR No.:
				</label>
				<div class="col-lg-3 col-sm-8" >
					<input type="text" class="form-control m-input">
				</div>
				<label class="col-lg-2 col-sm-4 col-form-label">
					Doc Type:
				</label>
				<div class="col-lg-3 col-sm-8 ">
					<select class="form-control m-input" id="m_form_doc_type">
						<option value="">
							All
						</option>
						<option value="1">
							NB
						</option>
					</select>
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-sm-4 col-form-label">
					PR Date From:
				</label>
				<div class="col-lg-3 col-sm-8">
					<input class="form-control m-input" type="date" value="" id="example-date-from">
				</div>
				<label class="col-lg-2 col-sm-4 col-form-label">
					PR Date To:
				</label>
				<div class="col-lg-3 col-sm-8">
					<input class="form-control m-input" type="date" value="" id="example-date-to">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-sm-4 col-form-label">
					Company:
				</label>
				<div class="col-lg-3 col-sm-8">
					<select class="form-control m-input" id="m_form_company">
						<option value="">
							All
						</option>
						<option value="1">
							8216-บจก.แอสเสท เวิร์ด คอร์ป
						</option>
						<option value="2">
							8298-บจก.แลนด์
						</option>
					</select>
				</div>
				<label class="col-lg-2 col-sm-4 col-form-label">
					Subject:
				</label>
				<div class="col-lg-3 col-sm-8">
					<input type="text" class="form-control m-input">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-sm-4 col-form-label">
					Vendor:
				</label>
				<div class="col-lg-3 col-sm-8">
					<select class="form-control m-input" id="m_form_vendor">
						<option value="">
							All
						</option>
						<option value="1">
							1006017-กรุงเทพเครื่องเย็น
						</option>
						<option value="2">
							1007658-บจก.ทีซีซี เทคโนโลยี
						</option>
						<option value="3">
							1007710-สีลมการค้า
						</option>
					</select>
				</div>
				<label class="col-lg-2 col-sm-4 col-form-label">
					Plant:
				</label>
				<div class="col-lg-3 col-sm-8">
					<select class="form-control m-input" id="m_form_plant">
						<option value="">
							All
						</option>
						<option value="1">
							2160-สำนักงานใหญ่
						</option>
					</select>
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-sm-4 col-form-label">
					Status:
				</label>
				<div class="col-lg-3 col-sm-8">
					<select class="form-control m-input" id="m_form_status">
						<option value="">
							All
						</option>
						<option value="1">
							Wait for Review
						</option>
						<option value="2">
							Wait for Approve
						</option>
						<option value="3">
							Approved
						</option>
					</select>
				</div>
				<label class="col-lg-2 col-sm-4 col-form-label">	
				</label>
				<div class="col-lg-3 col-sm-8 " >
					<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
						<span >
							<i class="fa fa-search"></i>
							<span>
								Search
							</span>
						</span>
					</a>
				</div>
			</div>
			<!--end: Search Form -->

			<!--begin: Datatable -->
			<div class="m_datatable" id="ajax_data"></div>
			<!--end: Datatable -->

			<div>
				<!-- <input  hidden type="text" class="form-control m-input" name="docTypeCodeDeleteSelected"     id='docTypeCodeDeleteSelected'  > -->
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">
					Confirm  ?
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Confirm Delete?
				</p>
			</div>
		   	<div class="modal-footer">
				<button type="button" (click)="del()" data-dismiss="modal" class="btn btn-danger">
						Delete  
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
 
