<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Tracking
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item">
						<a routerLink="/trns/worklist/my" class="m-nav__link">
							<span class="m-nav__link-text">
								<i class="la la-home"></i>
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" (click)="navigate_list()" class="m-nav__link">
							<span class="m-nav__link-text">
								Tracking
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- END: Subheader -->
	
	<div class="m-content">
		<!--begin::Portlet-->
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text" *ngIf="id == 0">
							<i class="la la-plus"></i>
							New Tracking
						</h3>
						<h3 class="m-portlet__head-text" *ngIf="id != 0">
							<i class="la la-pencil"></i>
							Edit Tracking
						</h3>
					</div>
				</div>
			</div>
			<!--begin::Form-->
			<form  #heroForm="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_1">
				<!--begin::portlet__body-->
				<div class="m-portlet__body" *ngIf='tracking != null'>
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text">
								Oh snap! Change a few things up and try submitting again.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div> 
					<div class="form-group m-form__group row" >
						<label class="col-form-label col-lg-3 col-sm-12">
							Tracking Code *
						</label>
						<div class="col-lg-6 col-md-9 col-sm-12">
							<input required maxlength="10"  [disabled]='id  != 0 ' [(ngModel)]="tracking.tracking_code" type="text" class="form-control m-input" name="tracking_code" placeholder="Enter Tracking Code"  >
						</div>
					</div>
					<div class="form-group m-form__group row">
						<label class="col-form-label col-lg-3 col-sm-12">
							Tracking Name *   
						</label>
						<div class="col-lg-6 col-md-9 col-sm-12">
							<input required maxlength="50" [(ngModel)]="tracking.tracking_name" type="text" class="form-control m-input " name="tracking_name" placeholder="Enter Tracking Name">
						</div>
					</div> 
					<div class="form-group m-form__group row first" *ngIf='id != 0'>
						<div class="col-lg-12">
							<span class="m-form__help">
								Created at {{tracking.create_datetime  | date:'dd/MM/yyyy HH:mm:ss'}} by {{tracking.create_username}} 
							</span>
						</div>
						<div class="col-lg-12"> 
							<span class="m-form__help" *ngIf='tracking.update_datetime != null'> 
								Last modified at {{tracking.update_datetime  | date:'dd/MM/yyyy HH:mm:ss'}} by {{tracking.update_username}} 
							</span>
						</div>
					</div>
				</div>
				<!--end::portlet__body-->
				<!--begin::portlet__foot-->
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions">
						<div class="row">
							<div class="col-lg-9 ml-lg-auto">
								<button type="button" [disabled]="heroForm.invalid" class="btn btn-success" data-toggle="modal" data-target="#m_modal_6">
									Save 
								</button>
								<button type="reset" (click)="navigate_list()" class="btn btn-secondary">
									Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
				<!--end::portlet__foot-->
			</form>
			<!--end::Form-->
		</div>
		<!--end::Portlet--> 
	
		<!--begin::Modal-->
		<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="tracking!=null">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							Confirm {{action_type}} ?
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							Confirm {{action_type}} tracking : {{tracking.tracking_code}} ?
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" (click)="save()" data-dismiss="modal" class="btn btn-success">
							Save 
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->
	</div>
	