<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Route Approve Configuration
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<!-- <li class="m-nav__item m-nav__item--home">
					<a routerLink="/trns/worklist/my" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li> -->
				<li class="m-nav__item">
					<a routerLink="/trns/worklist/my" class="m-nav__link">
						<span class="m-nav__link-text">
							<i class="la la-home"></i>
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="#" (click)="navigate_list()" class="m-nav__link">
						<span class="m-nav__link-text">
							{{this.routetype.display_name}} Route Approve
						</span>
					</a>
				</li>
				 
			</ul>
		</div>
	 
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" id="m-content">
	 
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{this.routetype.display_name}} Route Approve
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" (click)="navigate_edit('')" class="m-portlet__nav-link btn btn-brand m-btn " >
							<i class="la la-plus"></i>
							<span>
								Add
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<form>
			<div class="m-portlet__body">
				<!--begin: Search Form -->
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-sm-4 col-form-label">
						Route Name:
					</label>
					<div class="col-lg-4 col-sm-8" >
						<input type="text" maxlength="20" class="form-control m-input"  [(ngModel)]="m_form_route_name" id="m_form_route_name" name="m_form_route_name">
					</div>
					<label class="col-form-label col-lg-2 col-sm-4">
						Tracking No.
					</label>
					<div class="col-lg-4 col-sm-8">
						<select class="form-control m-input"  [(ngModel)]="tracking_no" id="tracking_no" name="tracking_no">
							<option value="">
								All
							</option>
							<option value={{item.tracking_code}} *ngFor="let item of trackingNumberList ">
								{{item.tracking_code}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group m-form__group row" *ngIf="routetype.name=='pr' || routetype.name=='po'">
					<label class="col-lg-2 col-sm-4 col-form-label">
						Doc Type:
					</label>
					<div class="col-lg-4 col-sm-8 ">
						<select class="form-control m-input"  [(ngModel)]="m_form_doc_type" id="m_form_doc_type" name="m_form_doc_type">
							<option value="">
								All
							</option>
							<ng-container *ngFor="let row of doctypeList; let index = index">
								<option value="{{row.doc_type_code}}">
									{{row.doc_type_desc}}
								</option>
							</ng-container>
						</select>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<div class="col-lg-12 col-sm-12 " >
						<button type="button" class="btn btn-primary" (click)="search()">
							<i class="fa fa-search"></i>
							Search
						</button>
						<button type="reset" class="btn btn-metal">
							<i class="fa fa-refresh"></i>
							Clear
						</button>
					</div>
				</div>
				<!--end: Search Form -->
				<!--begin: Datatable -->
				<div class="m_datatables" id="ajax_data"></div>
				<!--end: Datatable -->
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="m_modal_confirm" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">
					Confirm delete?
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Confirm delete {{action_route_name}} ?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" (click)="del()" data-dismiss="modal" class="btn btn-danger">
					Yes
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					No
				</button>
			</div>
		</div>
	</div>
</div>
 
